.authorization-greetings {
    margin-top: 20px;
    text-align: center;
    color: #EDCC65;
}

.authorization-register {
    margin-top: 20px;
    text-align: center;

    a {
        color: #EDCC65;
    }
}